html {
  height: 100%;
  width: 100%;
  background-color: grey;
  display: flex;
  justify-content: center;
}

body {
  background-color: white;
  width: 800px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 80px 80px;
  height: fit-content;
}

.itemContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 30px 0;
  padding: 20px 0;
}

.itemTitle {
  cursor: pointer;
}

h3 {
  margin: 0;
}

.priority-1 {
  color: red;
}

.priority-2 {
  color: rgb(255, 166, 0);
}

.priority-3 {
  color: rgb(124, 219, 86);
}

.priority-4 {
  color: rgba(128, 128, 128, 0.603);
}

#addTodoItem {
  width: 100px;
}

#newTodoForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  border-radius: 10px;
  background-color: whitesmoke;
  padding-bottom: 20px;
}

#titleInput {
  width: 200px;
  margin-bottom: 20px;
}

#textAreaInput {
  margin: 0 20px;
  margin-bottom: 20px;
}

#dateInput {
  margin-bottom: 20px;
}

#formCloseButton {
  align-self: flex-end;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: whitesmoke;
  font-size: larger;
  font-weight: bolder;
}

#completeButton {
  background-color: #afbbc1;
  border-radius: 10px;
  border: 1px solid darkgray;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}

.complete {
  text-decoration-line: line-through;
  text-decoration-thickness: 3px;
}
